contact,
contact[open],
contact[aliasing],
#buddylistbox:focus > contact[selected] {
  -moz-binding: url("chrome://contactListBuddyIcon/content/contact.xml#contact");
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}

.statusIcon {
  background-repeat: no-repeat;
  background-position: right bottom;
}

.userIcon {
  width: 36px;
  max-width: none;
  height: 36px;
  max-height: none;
}

.userIcon[src=""] {
  background-image: url("chrome://instantbird/skin/userIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.buddyIcon {
  padding: 2px;
}
